# Rename this file to `application.properties` first.
# Replace `DATABASE_URL`, `DATABASE_PORT` and `DATABASE_NAME` with the correct values.
spring.datasource.url=jdbc:mariadb://DATABASE_URL:DATABASE_PORT/DATABASE_NAME?serverTimezone=UTC&useSSL=false
# Replace `DATABASE_USERNAME` with correct username.
spring.datasource.username=DATABASE_USERNAME
# Replace `DATABASE_PASSWORD` with correct password.
spring.datasource.password=DATABASE_PASSWORD
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
# Show or not log for each sql query
spring.jpa.show-sql=true
# Hibernate ddl auto (create, create-drop, update): with "create-drop" the database
# schema will be automatically created afresh for every start of application
spring.jpa.hibernate.ddl-auto=create
# Allows Hibernate to generate SQL optimized for a particular DBMS
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MariaDBDialect
